In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Inside Airbnb data processing") \
    .getOrCreate()

25/08/06 21:57:53 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [2]:
listings = spark.read.csv("data/listings.csv.gz",
                          header=True,
                          inferSchema=True,
                          sep=",",
                          quote='"',
                          escape='"',
                          multiLine=True,
                          mode="PERMISSIVE"
                         )

In [3]:
review_locations = listings.select(listings.review_scores_location)
review_locations.show()

+----------------------+
|review_scores_location|
+----------------------+
|                  4.62|
|                  4.54|
|                  4.36|
|                   4.5|
|                  4.37|
|                   4.5|
|                  4.53|
|                  4.52|
|                  4.49|
|                  4.94|
|                  4.82|
|                  4.92|
|                  4.14|
|                  4.78|
|                  4.43|
|                  4.73|
|                  NULL|
|                  NULL|
|                  4.48|
|                  4.75|
+----------------------+
only showing top 20 rows

In [4]:
listings \
    .select(listings.review_scores_location) \
    .show()

+----------------------+
|review_scores_location|
+----------------------+
|                  4.62|
|                  4.54|
|                  4.36|
|                   4.5|
|                  4.37|
|                   4.5|
|                  4.53|
|                  4.52|
|                  4.49|
|                  4.94|
|                  4.82|
|                  4.92|
|                  4.14|
|                  4.78|
|                  4.43|
|                  4.73|
|                  NULL|
|                  NULL|
|                  4.48|
|                  4.75|
+----------------------+
only showing top 20 rows

In [6]:
high_score_listings = listings \
    .filter(listings.review_scores_location > 4.5) \
    .select('id', 'price', 'name', 'review_scores_location')

high_score_listings.show(20, truncate=False)

+------+-------+------------------------------------------------+----------------------+
|id    |price  |name                                            |review_scores_location|
+------+-------+------------------------------------------------+----------------------+
|264776|$297.00|Huge Four Bedroom Apartment                     |4.62                  |
|264777|$98.00 |One Bedroom Apartment                           |4.54                  |
|264782|$120.00|One Bedroom Garden Apartment                    |4.53                  |
|264783|$216.00|Four Bedroom Garden Apartment                   |4.52                  |
|266037|$62.00 |Central London with Stunning Views!             |4.94                  |
|268398|$66.00 |Also five minutes to South Bank                 |4.82                  |
|270600|$73.00 |Patio Apartment in London (Twickenham)          |4.92                  |
|425143|NULL   |luxury 1bed in Chelsea Bridge Wharf             |4.78                  |
|426354|$200.00|1 bedroom flat with big balcony!                |4.73                  |
|427584|$129.00|Hackney Stylish & light 1 bedroom Victorian flat|4.75                  |
|427936|$70.00 |Boutique Room w/ Private Bath, Balcony          |4.88                  |
|274740|$248.00|Top Floor Sunset View   Chelsea apartment       |4.58                  |
|13913 |$72.00 |Holiday London DB Room Let-on going             |4.77                  |
|15400 |$120.00|Bright Chelsea  Apartment. Chelsea!             |4.93                  |
|17402 |$510.00|Very Central Modern 3-Bed/2 Bath By Oxford St W1|4.89                  |
|24328 |$213.00|Battersea live/work artist house                |4.59                  |
|34935 |$153.00|Bright 1 Bedroom Apartment w 2 beds Brick Lane  |4.59                  |
|36299 |$245.00|Kew Gardens 3BR house in cul-de-sac             |4.9                   |
|36660 |$74.00 |You are GUARANTEED to love this                 |4.77                  |
|38610 |NULL   |CHARMING FAMILY HOME                            |4.79                  |
+------+-------+------------------------------------------------+----------------------+
only showing top 20 rows

In [7]:
high_score_listings.dropna().show(20, truncate=False)

+------+-------+------------------------------------------------+----------------------+
|id    |price  |name                                            |review_scores_location|
+------+-------+------------------------------------------------+----------------------+
|264776|$297.00|Huge Four Bedroom Apartment                     |4.62                  |
|264777|$98.00 |One Bedroom Apartment                           |4.54                  |
|264782|$120.00|One Bedroom Garden Apartment                    |4.53                  |
|264783|$216.00|Four Bedroom Garden Apartment                   |4.52                  |
|266037|$62.00 |Central London with Stunning Views!             |4.94                  |
|268398|$66.00 |Also five minutes to South Bank                 |4.82                  |
|270600|$73.00 |Patio Apartment in London (Twickenham)          |4.92                  |
|426354|$200.00|1 bedroom flat with big balcony!                |4.73                  |
|427584|$129.00|Hackney Stylish & light 1 bedroom Victorian flat|4.75                  |
|427936|$70.00 |Boutique Room w/ Private Bath, Balcony          |4.88                  |
|274740|$248.00|Top Floor Sunset View   Chelsea apartment       |4.58                  |
|13913 |$72.00 |Holiday London DB Room Let-on going             |4.77                  |
|15400 |$120.00|Bright Chelsea  Apartment. Chelsea!             |4.93                  |
|17402 |$510.00|Very Central Modern 3-Bed/2 Bath By Oxford St W1|4.89                  |
|24328 |$213.00|Battersea live/work artist house                |4.59                  |
|34935 |$153.00|Bright 1 Bedroom Apartment w 2 beds Brick Lane  |4.59                  |
|36299 |$245.00|Kew Gardens 3BR house in cul-de-sac             |4.9                   |
|36660 |$74.00 |You are GUARANTEED to love this                 |4.77                  |
|275140|$111.00|Great location, direct links to London Bridge!  |4.54                  |
|432841|$104.00|Large double bedroom in Shoreditch w/garden     |4.79                  |
+------+-------+------------------------------------------------+----------------------+
only showing top 20 rows

In [8]:
high_score_listings.schema['price']

StructField('price', StringType(), True)

In [10]:
from pyspark.sql.functions import regexp_replace

price_num_df = listings \
    .withColumn('price_num', regexp_replace('price', '[$,]', '').cast('float')) \

price_num_df.schema['price_num']

StructField('price_num', FloatType(), True)

In [11]:
price_num_df \
    .select('price_num', 'name') \
    .show(20, truncate=False)

+---------+--------------------------------------------------+
|price_num|name                                              |
+---------+--------------------------------------------------+
|297.0    |Huge Four Bedroom Apartment                       |
|98.0     |One Bedroom Apartment                             |
|148.0    |Two Bedroom Newly Refurbished Apartment           |
|144.0    |Refurbished Two Bedroom Apartment                 |
|157.0    |Spacious refurbished 2 bedroom apt with balcony   |
|148.0    |Two Bedrooms Garden Maisonette                    |
|120.0    |One Bedroom Garden Apartment                      |
|216.0    |Four Bedroom Garden Apartment                     |
|238.0    |Huge Three Bedroom Flat with parking and terrace  |
|62.0     |Central London with Stunning Views!               |
|66.0     |Also five minutes to South Bank                   |
|73.0     |Patio Apartment in London (Twickenham)            |
|NULL     |Heathrow BNB - Home Away From Home!               |
|NULL     |luxury 1bed in Chelsea Bridge Wharf               |
|134.0    |2 Bed Edwardian Maisonette with Sunny Garden      |
|200.0    |1 bedroom flat with big balcony!                  |
|NULL     |Kitchener House!                                  |
|155.0    |Cool shoreditch courtyard flat                    |
|135.0    |Lovely 2 bedroom flat near Brixton, zone 2, London|
|129.0    |Hackney Stylish & light 1 bedroom Victorian flat  |
+---------+--------------------------------------------------+
only showing top 20 rows

In [12]:
price_num_df.filter((price_num_df.price_num < 100) & (price_num_df.review_scores_location > 4.5)) \
    .select('name', 'price', 'review_scores_location') \
    .show(truncate=False)

+-------------------------------------------------+------+----------------------+
|name                                             |price |review_scores_location|
+-------------------------------------------------+------+----------------------+
|One Bedroom Apartment                            |$98.00|4.54                  |
|Central London with Stunning Views!              |$62.00|4.94                  |
|Also five minutes to South Bank                  |$66.00|4.82                  |
|Patio Apartment in London (Twickenham)           |$73.00|4.92                  |
|Boutique Room w/ Private Bath, Balcony           |$70.00|4.88                  |
|Holiday London DB Room Let-on going              |$72.00|4.77                  |
|You are GUARANTEED to love this                  |$74.00|4.77                  |
|Bedroom In Great Location Stratford              |$52.00|4.57                  |
|Bright Double + workspace in spacious Garden Flat|$51.00|4.77                  |
|SPACIOUS ROOM IN CONTEMPORARY STYLE FLAT         |$52.00|4.79                  |
|Room with a view, shared flat,  central  Bankside|$75.00|4.86                  |
|You Will Save Money Here                         |$55.00|4.75                  |
|Spacious luxury 2 bedroom apartment              |$94.00|4.67                  |
|A people person awaits you here!                 |$48.00|4.79                  |
|Quiet Comfortable Room in Fulham                 |$47.00|4.64                  |
|Sunny double room/balcony/shower/wc              |$55.00|4.72                  |
|London, Ealing, W13 Artists Home                 |$80.00|4.91                  |
|Attic Room in historic Greenwich                 |$41.00|4.83                  |
|202 double room shower Soho comfy                |$83.00|4.94                  |
|Dream Apartment in central London                |$60.00|4.92                  |
+-------------------------------------------------+------+----------------------+
only showing top 20 rows

In [13]:
price_num_df.filter('price_num < 100 AND review_scores_location > 4.5') \
    .select('name', 'price', 'review_scores_location') \
    .show(truncate=False)

+-------------------------------------------------+------+----------------------+
|name                                             |price |review_scores_location|
+-------------------------------------------------+------+----------------------+
|One Bedroom Apartment                            |$98.00|4.54                  |
|Central London with Stunning Views!              |$62.00|4.94                  |
|Also five minutes to South Bank                  |$66.00|4.82                  |
|Patio Apartment in London (Twickenham)           |$73.00|4.92                  |
|Boutique Room w/ Private Bath, Balcony           |$70.00|4.88                  |
|Holiday London DB Room Let-on going              |$72.00|4.77                  |
|You are GUARANTEED to love this                  |$74.00|4.77                  |
|Bedroom In Great Location Stratford              |$52.00|4.57                  |
|Bright Double + workspace in spacious Garden Flat|$51.00|4.77                  |
|SPACIOUS ROOM IN CONTEMPORARY STYLE FLAT         |$52.00|4.79                  |
|Room with a view, shared flat,  central  Bankside|$75.00|4.86                  |
|You Will Save Money Here                         |$55.00|4.75                  |
|Spacious luxury 2 bedroom apartment              |$94.00|4.67                  |
|A people person awaits you here!                 |$48.00|4.79                  |
|Quiet Comfortable Room in Fulham                 |$47.00|4.64                  |
|Sunny double room/balcony/shower/wc              |$55.00|4.72                  |
|London, Ealing, W13 Artists Home                 |$80.00|4.91                  |
|Attic Room in historic Greenwich                 |$41.00|4.83                  |
|202 double room shower Soho comfy                |$83.00|4.94                  |
|Dream Apartment in central London                |$60.00|4.92                  |
+-------------------------------------------------+------+----------------------+
only showing top 20 rows

In [14]:
listings \
    .select(listings.property_type, listings.room_type) \
    .distinct() \
    .show(truncate=False)

[Stage 9:>                                                          (0 + 1) / 1]

+----------------------------------+---------------+
|property_type                     |room_type      |
+----------------------------------+---------------+
|Room in hostel                    |Hotel room     |
|Private room in casa particular   |Private room   |
|Dome                              |Entire home/apt|
|Entire serviced apartment         |Entire home/apt|
|Private room in loft              |Private room   |
|Shipping container                |Entire home/apt|
|Private room in villa             |Private room   |
|Farm stay                         |Entire home/apt|
|Room in hotel                     |Hotel room     |
|Shared room in rental unit        |Shared room    |
|Private room in guest suite       |Private room   |
|Room in rental unit               |Hotel room     |
|Room in serviced apartment        |Hotel room     |
|Private room in serviced apartment|Private room   |
|Private room in hostel            |Private room   |
|Shared room                       |Shared room    |
|Private room in yurt              |Private room   |
|Room in boutique hotel            |Private room   |
|Private room in shepherd's hut    |Private room   |
|Entire rental unit                |Entire home/apt|
+----------------------------------+---------------+
only showing top 20 rows